<%= simple_nested_form_for @house, :html => { :class => 'form-vertical' }, wrapper: :vertical_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f| %>

    <ul class='nav nav-tabs' role='tablist'>
      <li role='presentation' class='active'><a href='#allgemein' aria-controls='allgemein' role='tab' data-toggle='tab'>Allgemein</a></li>
      <li role='presentation'><a href='#reqs' aria-controls='reqs' role='tab' data-toggle='tab'>Eignung & Ausstattung</a></li>
      <li role='presentation'><a href='#pricing' aria-controls='pricing' role='tab' data-toggle='tab'>Preisliste</a></li>
      <li role='presentation'><a href='#prices' aria-controls='prices' role='tab' data-toggle='tab'>Zusatzkosten</a></li>
    </ul>

    <br>

    <div class='tab-content'>
      <div role='tabpanel' class='tab-pane fade in active' id='allgemein'>
        <h3 style='text-align: center;'>Allgemeine Informationen</h3><hr>
            <div class='row'>
              <div class='col-md-4'>
                <%= f.input :name %>
              </div>
              <div class='col-md-4'>
                <%= f.association :location, prompt: 'Wähle einen Ort', collection: Location.order('region_id'), :label_method => lambda { |l| "#{l.name} in #{l.region.name}" } %>
              </div>
              <div class='col-md-4'>
                <%= f.input :address, label: 'Adresse', placeholder: 'Straße, Ort, Land' %>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-3'>
				<%= f.input :htype, placeholder: 'Typ', label: 'Typ' %>
			  </div>
			  <div class='col-md-3'>
				<%= f.input :movie_url, placeholder: '/xyz', label: 'Youtube-Video' %>
			  </div>
              <div class='col-md-2'>
                <%= f.input :size, label: 'Größe in m²', placeholder: 'Größe in m²' %>
              </div>
              <div class='col-md-2'>
                <%= f.input :n_people, label: 'Opt. Personenzahl', placeholder: 'Opt. Personenzahl' %>
              </div>
              <div class='col-md-2'>
                <%= f.input :add_n_people, label: 'Max. Personenzahl', placeholder: 'Max. Personenzahl' %>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-12'>
                <%= f.input :description, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'}}, label: 'Beschreibung' %>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-12'>
                <%= f.input :short_description, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'}}, label: 'Kurzbeschreibung' %>
              </div>
            </div>
      </div>


      <!-- tab2 -->
      <div role='tabpanel' class='tab-pane fade' id='reqs'>
        <div class="row">
          <div class="col-md-6">
            <h3>Eignung</h3><hr>
            <%= hidden_field_tag("house[suit_ids][]", nil) %>
            <% Suit.all.where(activated: "Ja").each do |s| %>
              <label class="checkbox-inline">
                <%= check_box_tag("house[suit_ids][]", s.id, s.id.in?(@house.suits.collect(&:id))) %> <%= s.name %>
              </label><br>
             <% end %>
          </div>
          <div class="col-md-6">
            <h3>Ausstattung</h3><hr>
            <%= hidden_field_tag("house[facility_ids][]", nil) %>
            <% Facility.all.where(activated: "Ja").each do |f| %>
              <label class="checkbox-inline">
                <%= check_box_tag("house[facility_ids][]", f.id, f.id.in?(@house.facilities.collect(&:id))) %> <%= f.name %>
              </label><br>
            <% end %>
          </div>
        </div>
      </div>


      <!-- tab3 -->
      <div role='tabpanel' class='tab-pane fade' id='pricing'>
        <%= f.fields_for :pricing do |pr| %>
            <h3 style='text-align: center;'>Buchungszeiträume
              <%= pr.link_to_add :periods, :title => 'Zeitraum hinzufügen', :data => { :target => '#periods' }, :class => 'btn btn-primary pull-right' do %>
                <%= glyph 'plus' %> Zeitraum hinzufügen
              <% end %>
            </h3>
            <table class='table table-striped' id='periods'>
              <tr>
                <th>Von</th>
                <th>Bis</th>
                <th colspan='2'>Mindestaufenthalt</th>
                <th>Kosten/Nacht</th>
                <th>Kosten/Woche</th>
				<th>Typ</th>
                <th>Saison</th>
                <th></th>
              </tr>
              <%= pr.fields_for :periods, :wrapper => false do |p| %>
                  <tr class='fields'>
                    <td><%= p.input :from, as: :string, :placeholder => 'Von', input_html: { class: 'date datepicker', value: p.object.from.to_s }, label: false  %></td>
                    <td><%= p.input :to, as: :string, :placeholder => 'Bis', input_html: { class: 'date datepicker', value: p.object.to.to_s}, label: false %></td>
                    <td><%= p.input :min, label: false, :placeholder => 'Min' %></td>
                    <td><%= p.input :min_type, label: false, collection: ['Tage','Wochen'], default: 1 %></td>
                    <td><%= p.input :cost_per_night, label: false, :placeholder => 'Kosten in EUR'  %></td>
                    <td><%= p.input :cost_per_week, label: false, :placeholder => 'Kosten in EUR' %></td>
					<td><%= p.input :ptype, label: false, collection: ['geöffnet', 'geschlossen', 'auf Anfrage', 'Sonderangebot'], default: 1 %></td>
                    <td><%= p.input :season, label: false, :placeholder => 'Saison' %></td>
                    <td>
                      <%= p.link_to_remove :title => '[-] Löschen', :class => 'btn btn-danger pull-right', :data => { :confirm => 'Sicher?' } do %>
                        <%= glyph 'remove' %> Löschen
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </table>
        <% end %>
      </div>


      <!-- tab4 -->
      <div role='tabpanel' class='tab-pane fade' id='prices'>
        <%= f.fields_for :pricing do |pr| %>
            <h3 style='text-align: center;'>Zusatzkosten
              <%= pr.link_to_add :costs, :title => 'Posten hinzufügen', :data => { :target => '#costs' }, :class => 'btn btn-primary pull-right' do %>
                <%= glyph 'plus' %> Posten hinzufügen
              <% end %>
            </h3>

            <table class='table table-striped' id='costs'>
              <tr>
                <th>Bezeichnung</th>
                <th>Preis</th>
                <th>Typ</th>
                <th>Optional</th>
                <th></th>
              </tr>
              <%= pr.fields_for :costs, :wrapper => false do |c| %>
                  <tr class='fields'>
                    <td><%= c.input :name, label: false, placeholder: 'Bezeichung' %></td>
                    <td><%= c.input :amount, label: false, placeholder: 'Preis in EUR'  %></td>
                    <td><%= c.input :ctype, label: false, default: 1,  collection: [ 'inklusive', 'einmalig', 'pro Person', 'pro Nacht', 'pro kWh', 'pro Liter'] %></td>
                    <td><%= c.input :optional, label: false, collection: ['verpflichtend', 'optional', 'nach Verbrauch' ] %></td>
                    <td>
                      <%= c.link_to_remove :title => '[-] Löschen', :class => 'btn btn-danger pull-right' ,:data => { :confirm => 'Sicher?' } do %>
                          <%= glyph 'remove' %> Löschen
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </table>
        <% end %>
      </div>
    </div>
    <br>
    <div class='center-block'>
        <div class='form-group text-center'>
          <%= f.button :submit, 'Speichern', :class => 'btn-primary' %> oder
          <%= link_to 'Abbrechen', houses_path, :class => 'btn btn-default', :data => { :confirm => 'Änderungen werden nicht gespeichert!'} %>
        </div>
    </div>
<% end %>
