<div class="row">

  <h2 style="text-align: center;">Feriendomizile</h2><hr>

  <div class="col-md-4">
    <div class="jumbotron lowpad">
      <h4 style="text-align: center;">Filter</h4><hr>

        <%= search_form_for @search, url: houses_list_path, :builder => SimpleForm::FormBuilder, :id => 'houses_search' do |f| %>

            <label class="string optional control-label" for="booking_lastname">Personen</label><br>
            <div class="checkbox">
                <% House.all.order(:n_people).pluck(:n_people).to_a.uniq.compact.each do |n| %>
                  <label class="checkbox-inline">
                    <%= check_box_tag('q[n_people_eq_any][]', n) %>
                    <%= n %>
                  </label>
                <% end %>
            </div>
            <hr>

            <label class="string optional control-label" for="booking_lastname">Ausstattung</label><br>
            <div class="row checkbox">
              <div class="col-md-6">
                  <label><%= check_box_tag('q[facility_internet_eq][]', "ja") %> Internet/ WLAN</label><br>
                  <label><%= check_box_tag('q[facility_tv_eq][]', "ja") %> TV</label><br>
                  <label><%= check_box_tag('q[facility_pool_eq][]', "ja") %> Pool/Schwimmbad</label><br>
                  <label><%= check_box_tag('q[facility_garden_eq][]', "ja") %> Garten</label><br>
                  <label><%= check_box_tag('q[facility_terrace_eq][]', "ja") %> Terrasse </label><br>
              </div>
              <div class="col-md-6">
                  <label><%= check_box_tag('q[facility_grill_eq][]', "ja") %> Grill</label><br>
                  <label><%= check_box_tag('q[facility_balcony_eq][]', "ja") %> Balkon</label><br>
                  <label><%= check_box_tag('q[facility_washingmachine_eq][]', "ja") %> Waschmaschine</label><br>
                  <label><%= check_box_tag('q[facility_dishwasher_eq][]', "ja") %> Spülmaschine</label><br>
                  <label><%= check_box_tag('q[facility_babybed_eq][]', "ja") %> Babybett</label><br>
              </div>
            </div>
            <hr>

            <label class="string optional control-label" for="booking_lastname">Geeignet für</label>
            <div class="row checkbox">
              <div class="col-md-6">
                  <label><%= check_box_tag('q[suitability_family_eq][]', "ja") %> Familienurlaub</label><br>
                  <label><%= check_box_tag('q[suitability_longtime_eq][]', true) %> Langzeiturlaub</label><br>
                  <label><%= check_box_tag('q[suitability_horse_eq][]', true) %> Urlaub mit Pferden</label><br>
                  <label><%= check_box_tag('q[suitability_allergic_eq][]', true) %> Allergiker</label><br>
                  <label><%= check_box_tag('q[suitability_disability_eq][]', true) %> Behinderte</label><br>
                  <label><%= check_box_tag('q[suitability_senior_eq][]', true) %> Senioren</label>
              </div>
              <div class="col-md-6">
                  <label><%= check_box_tag('q[suitability_baby_eq][]', true) %> Kleinkinder/Babies</label><br>
                  <label><%= check_box_tag('q[suitability_monteur_eq][]', true) %> Monteure</label><br>
                  <label><%= check_box_tag('q[suitability_smoker_eq][]', true) %> Raucher</label><br>
                  <label><%= check_box_tag('q[suitability_dog_eq][]', true) %> Hunde</label><br>
                  <label><%= check_box_tag('q[suitability_pets_eq][]', true) %> Andere Haustiere</label>
              </div>
            </div>
            <hr>

            <label class="string optional control-label" for="booking_lastname">Objekttyp</label>
            <div class="checkbox">
                <% House.pluck(:htype).to_a.uniq.compact.each do |t| %>
                  <label>
                    <%= check_box_tag('q[htype_eq_any][]', t) %> <%= t %>
                  </label><br>
                <% end %>
            </div>
            <hr>
            <div class="center-block">
                <div class="form-group text-center">
                  <button class="btn btn-default" id="selectAll">Alle Filter entfernen</button>
                </div>
            </div>
      <% end %>


    </div>
  </div>
  <div class="col-md-8" id="houses">
    <%= render 'houses' %>
  </div>
</div>