<% if current_admin || @house.activated == true %>

  <div class="row">
    <div class="col-md-9">

      <ul class='nav nav-tabs' role='tablist'>
        <li role='presentation' class='<%= 'active' if flash[:error] == nil %>'><a href='#allgemein' aria-controls='allgemein' role='tab' data-toggle='tab'>Beschreibung</a></li>
        <% if @house.address != "" || @house.address == nil %>
          <li role='presentation'><a id='tab_location' href='#location' aria-controls='location' role='tab' data-toggle='tab'>Lage</a></li>
        <% end %>
        <li role='presentation'><a href='#images' aria-controls='images' role='tab' data-toggle='tab'>Bilder</a></li>
        <li role='presentation'><a href='#availability' aria-controls='availability' role='tab' data-toggle='tab'>Verfügbarkeit</a></li>
        <li role='presentation'><a href='#prices' aria-controls='prices' role='tab' data-toggle='tab'>Preisliste</a></li>
        <% if @house.movie_url != "" || @house.movie_url == nil %>
      	  <li role='presentation'><a href='#video' aria-controls='video' role='tab' data-toggle='tab'>Video</a></li>
        <% end %>
        <li role='presentation' class="<%= 'active' if flash[:error] %>"><a href='#request' aria-controls='request' role='tab' data-toggle='tab'>Buchungsanfrage</a></li>
      </ul>

      <div class='tab-content'>

        <div role='tabpanel' class='tab-pane fade <%= 'in active' if flash[:error] == nil %>' id='allgemein'>
          <%= @house.description.html_safe %>
          <br>
        </div>

        <% if @house.address != "" || @house.address == nil %>
          <div role='tabpanel' class='tab-pane fade' id='location'>
            <div style='width: 800px;'>
          	  <div id="map" style='width: 800px; height: 400px;'></div>
          	</div>
          	<script type="text/javascript">
          	  handler = Gmaps.build('Google');
          	  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          	    markers = handler.addMarkers(<%=raw @hash.to_json %>);
          	    handler.bounds.extendWith(markers);
          	    handler.fitMapToBounds();
          		  handler.getMap().setZoom(10);
          	  });
          	</script>
          </div>
        <% end %>


        <div role='tabpanel' class='tab-pane fade' id='images'>
          <div>
            <% n=0 %>
            <% @house.pictures.order(:order_no).each do |picture| %>
              <% n+=1 %>
              <% if n.odd %>
                <div class="row">
              <% end %>

              <div class="col-md-6 gallery">
                <%= image_tag picture.image_url(:thumb) %>
                <%= picture.description %>
              </div>

              <% if n.even? || picture == @house.pictures.order(:order_no).last %>
                </div>
              <% end %>
          	<% end %>
          </div>
        </div>

        <div role='tabpanel' class='tab-pane fade' id='availability' style="font-size:0.9em;">
          <table class="calendar">
            <tr>
              <td class="free"></td><th style="padding-right: 50px">frei</th>
              <td class="request"></td><th style="padding-right: 50px">auf Anfrage</th>
              <td class="busy"></td><th style="padding-right: 50px">belegt</th>
              <td class="closed"></td><th style="padding-right: 50px">geschlossen</th>
              <td class="special"></td><th style="padding-right: 50px">Sonderangebot</th>

            </tr>
          </table>
          <hr style="margin: 8px 0 8px 0;">
          <table class="calendar">
            <% cnt=0 %>
            <% while cnt < 18 %>
              <% if cnt== 0 || (Date.today+cnt.month).month==1 %>
                <tr><th><%= (Date.today+cnt.month).year %></th></tr>
              <% end %>
              <tr>
                <th><%= I18n.l((Date.today+cnt.month), format: "%b") %></th>
                <% (Date.today.beginning_of_month+cnt.month..Date.today.beginning_of_month+1.month-1+cnt.month).each do |d| %>
                  <% if @closed_dates.include? d %>
      			        <td class="closed">
                  <% elsif @start_dates.include? d %>
                    <td class="start">
                  <% elsif @end_dates.include? d %>
                    <td class="end">
      			      <% elsif @busy_dates.include? d %>
                    <td class="busy">
      	       		<% elsif @request_dates.include? d %>
                    <td class="request">
      			      <% elsif @special_dates.include? d %>
                    <td class="special">
                  <% else %>
                    <td class="free">
                  <% end %>
                    <%= "0" if d.day < 10 %><%= d.day %></td>
                <% end %>
              </tr>
              <% cnt+=1 %>
            <% end %>
          </table>
        </div>

        <div role='tabpanel' class='tab-pane fade' id='prices'>
          <h4>Zeiträume</h4>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>von</th>
                <th>bis</th>
                <th>Preis/Woche</th>
				        <th>Preis/Nacht</th>
                <th>zusätzl. Person/Woche</th>
                <th>Saison</th>
              </tr>
            </thead>
            <tbody>
              <% @house.pricing.periods.order(:from).where(:ptype => ['geöffnet', 'Sonderangebot']).each do |p| %><tr>
                <td><%= p.from %></td>
                <td><%= p.to %></td>
                <td><%= p.cost_per_week.to_s+" €" if (p.cost_per_week!=nil && p.cost_per_week!="") %></td>
				<td><%= p.cost_per_night.to_s+" €" if (p.cost_per_night!=nil && p.cost_per_night!="") %></td>
                <td><%= p.cost_add_person_week.to_s+" €" if (p.cost_add_person_week!=nil && p.cost_add_person_week!="") %></td>
                <td><%= p.season %></td>
              </tr><% end %>
            </tbody>
          </table>
          <% if @house.pricing.costs.count > 0 %>
            <h4>Zusatzkosten</h4>
            <table class="table table-hover">
              <tbody>
                <% @house.pricing.costs.each do |c| %><tr>
                  <td><%= c.name %></td>
                  <td><%= c.ctype %></td>
                  <td><%= ("%.2f" % c.amount).tr(".",",") if c.amount != nil %> <%= "€" if c.amount != nil %></td>
                  <td><%= c.optional %></td>
                </tr><% end %>
              </tbody>
            </table>
          <% end %>
        </div>

      <% if @house.movie_url != "" || @house.movie_url == nil %>
        <div role='tabpanel' class='tab-pane fade' id='video'>
      	<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @house.movie_url%>" frameborder="0" allowfullscreen></iframe>
        </div>
      <% end %>


      	<div role='tabpanel' class='tab-pane fade <%= 'in active' if flash[:error] %>' id='request'>
      		<%= render 'booking_form' %>
      	</div>

      </div>

    </div>

    <div class="col-md-3">
      <div class="jumbotron color2 lowpad">
        <h3 style="text-align: center;margin:0px;"><%= @house.name if @house.name %></h3>
        <h5 style="text-align: center;margin:0px;"><%= @house.location.name if @house.location %> - <br> <%= @house.location.region.name if @house.location && @house.location.region %> </h4>
        <!-- <hr class="small"> -->
        <br>
        <% if @house.pictures.where(default_pic: true).first != nil %>
          <%= image_tag(@house.pictures.where(default_pic: true).first.image_url(:thumb), width: "100%") %>
        <% end %>
        <br><br>
        <table>
          <tr style="font-size:1.3em;">
            <td style="width:50%;"><span class="glyphs"><%= glyph 'home' %> <%= @house.size %>m²</span></td>
            <td style="width:50%;"><span class="glyphs"><%= glyph 'user' %> <%= @house.n_people %> (max. <%= @house.add_n_people if @house.add_n_people %>)</span></td>
          </tr>
          <tr><td colspan="2">
            <% if @house.pricing.periods.where(ptype: ['geöffnet', 'Sonderangebot']).where('"to" >= ?', Date.today).first %>
              ab <%= @house.pricing.periods.where(ptype: ['geöffnet', 'Sonderangebot']).where('"to" >= ?', Date.today).order(:cost_per_week).first.cost_per_week %> €/Woche
            <% end %>
          </td></tr>
          <tr><td colspan="2">
            <h4>Geeignet für:</h4>
            <% @house.suits.where(activated:"Ja").each do |s| %>
              <li style="margin-left:20px;"><%= s.name %></li>
            <% end %>
          </td></tr>
          <tr><td colspan="2">
            <h4>Ausstattung:</h4>
            <% @house.facilities.where(activated:"Ja").each do |f| %>
              <li style="margin-left:20px;"><%= f.name %></li>
            <% end %>
          </td></tr>
        </table>

      </div>
    </div>

  </div>
  <br>
  <div class='center-block'>
    <div class='form-group text-center'>
      <%= link_to 'Zurück', :back, :class => 'btn btn-default'  %>
    </div>
  </div>

<% else %>
  Diese Seite ist momentan in Bearbeitung.

<% end %>

<br>
