<%= simple_form_for [@house,@booking], :html => { :class => 'form-vertical' } do |f| %>

    <div class='row'>
      <div class='col-md-12'>
        <%= f.input :gender, :as => :radio_buttons, collection: ['Frau', 'Herr'], label: "Anrede" %>
        <div class="row">
          <div class="col-md-6"><%= f.input :lastname, label: "Nachname", required: true %></div>
          <div class="col-md-6"><%= f.input :firstname, label: "Vorname", required: true %></div>
        </div><br>
        <div class="row">
          <div class="col-md-6"><%= f.input :email, required: true %></div>
          <div class="col-md-6"><%= f.input :phone, label: "Telefon" %></div>
        </div><br>

        <div class="form-group">
          <%= f.input :start_date, label: "Start" %>
          <%= f.input :end_date, label: "Ende" %>

        </div><br>

        <div class='row'>
            <div class='col-md-12'>
              <%= f.input :message, label: "Mitteilung", :as => :text, :input_html => { :rows => 10, :style => 'resize: none;' } %>
            </div>
        </div>
        <br>
        <div class="center-block">
          <div class="form-group text-center">
            <%= f.button :submit, "Abschicken", :class => 'btn-primary' %> oder
            <%= link_to "Abbrechen", :back, :class => 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
<% end %>


