<div class="page-header">
  <h1>Buchung #<%= @booking.id %> vom Haus "<%= @booking.house.name %>"</h1>
</div>

<div class="fieldset">
  <dl>
    <div class="row">
      <div class="col-md-6">
        <dt class="label label-default">Anrede</dt>
        <dd><pre class="prettyprint"><%= @booking.gender %></pre></dd>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <dt class="label label-default">Nachname</dt>
        <dd><pre class="prettyprint"><%= @booking.lastname %></pre></dd>
      </div>
      <div class="col-md-6">
        <dt class="label label-default">Vorname</dt>
        <dd><pre class="prettyprint"><%= @booking.firstname %></pre></dd>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <dt class="label label-default">Start</dt>
        <dd><pre class="prettyprint"><%= @booking.start_date %></pre></dd>
      </div>
      <div class="col-md-6">
        <dt class="label label-default">Ende</dt>
        <dd><pre class="prettyprint"><%= @booking.end_date %></pre></dd>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <dt class="label label-default">Email</dt>
        <dd><pre class="prettyprint"><%= @booking.email %></pre></dd>
      </div>
      <div class="col-md-6">
        <dt class="label label-default">Telefon</dt>
        <dd><pre class="prettyprint"><%= @booking.phone %></pre></dd>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <dt class="label label-default">Angenommen?</dt>
        <dd><pre class="prettyprint"><% if @booking.accepted? %> Ja <% else %> Nein <% end %></pre></dd>
      </div>
      <div class="col-md-6">
        <dt class="label label-default">Datum</dt>
        <dd><pre class="prettyprint"><%= @booking.created_at %></pre></dd>
      </div>
    </div>

  </dl>
</div>



<%= link_to "Zurück", :back, :class => 'btn btn-default' %>
