<%= simple_form_for [@house,@picture], :html => { :class => 'form-vertical' } do |f| %>

  <h2 style='text-align: center;'>Bild bearbeiten</h2><hr>

  <div class="row">
    <div class="col-md-12">
      <%= f.input :name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.input :description %>
    </div>
  </div>

  <hr>

  <%= f.cropbox :image, version: :jumbo %>
  <%= f.previewbox :image, width: 260, height: 195, version: :jumbo %>

  <hr>

  <div class='center-block'>
    <div class='form-group text-center'>
      <%= f.button :submit, 'Speichern', :class => 'btn-primary' %> oder
      <%= link_to 'Abbrechen', house_pictures_path, :class => 'btn btn-default', :data => { :confirm => 'Änderungen werden nicht gespeichert!'} %>
    </div>
  </div>

<% end %>
