<%= simple_form_for [@house,@picture], :html => { :class => 'form-vertical' } do |f| %>

  <h2 style='text-align: center;'>Bild bearbeiten</h2><hr>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :name %>
      <%= f.input :description, label:"Beschreibung", :input_html => {:rows => 8} %>
      <%= f.input :order_no %>
    </div>
    <div class="col-md-3">
      <label class="string optional control-label" for="booking_lastname">Thumb:</label><br>
      <%= image_tag @picture.image_url(:thumb), size:"260x195" %><br><br>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
        Thumb zuschneiden
      </button>
    </div>
    <div class="col-md-3">
      <label class="string optional control-label" for="booking_lastname">Status:</label><br>
      <% if @picture.default_pic? %>
        <div style="color:darkgreen;">Default</div>
      <% else %>
        <%= link_to "Als Default verwenden", { :controller => 'pictures', :action => 'set_default', :p => @picture.id }, { :method => :put } %>
      <% end %>

    </div>
  </div>

  <hr>

  <div class='center-block'>
    <div class='form-group text-center'>
      <%= f.button :submit, 'Änderungen speichern', :class => 'btn-primary' %> oder
      <%= link_to 'Zurück', :back, :class => 'btn btn-default' %>
    </div>
  </div>

  <%= f.file_field :image %>

<% end %>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Thumb zuschneiden</h4>
      </div>
      <%= simple_form_for [@house,@picture], :html => { :class => 'form-vertical' } do |f| %>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8">Zuschneiden:<%= f.cropbox :image, version: :jumbo %></div>
            <div class="col-md-4">Vorschau:<%= f.previewbox :image, width: 260, height: 195, version: :jumbo %></div>
          </div>
        </div>
        <div class="modal-footer">
          <div class='center-block'>
            <div class='form-group text-center'>
              <%= f.button :submit, 'Speichern', :class => 'btn-primary' %> oder
              <button type="button" class="btn btn-default" data-dismiss="modal">Zurück</button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


